@import "bourbon";
@import "vars.scss";

@media (min-width: 768px) and (max-width: 991px){
  #sec_02{
    .sec_img{
      width: 100%;
    }
    .text{
      margin-top: 40px;
      br{display: none;}
    }
  }
  #sec_03{
    .sec_img{
      width: 100%;
      margin: 0;
    }
    .text{
      margin-top: 80px;
      br{display: none;}
    }
  }
  #sec_04{padding-bottom: 100px;}
  footer{
    .politics a{
      font-size: 13px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  #sec_02{
    .sec_img{
      width: 100%;
    }
    .text{
      margin-top: 100px;
      br{display: none;}
    }
  }
  #sec_03{
    .sec_img{
      width: 100%;
      margin: 0;
    }
    .text{
      margin-top: 120px;
      br{display: none;}
    }
  }
}

@media screen and (max-height: 740px){
  .md_large .md_content {max-height: 320px;}
}

@media (max-width: 767px) {
  [class*='col-']{width: 100%; margin: 0;}
  .sec_img{
    width: 100%;
    max-width: 300px;
    float: none;
  }
  #sec_02{
    .sec_img{
      float: none;
      margin-top: 40px;
    }
    .text{
      margin-top: 30px;
    }
  }
  #sec_03{
    .sec_img{
      float: none;
      margin: 0 0 0 -40px;
    }
    .text{
      margin-top: 30px;
    }
  }
  #sec_04{
    padding-bottom: 50px;
    .db-form{
      margin: 40px auto;
    }
  }
  footer{
    text-align: center;
    .politics{
      a{
         font-size: 14px;
         display: block;
         text-align: center;
       }
     a+a{margin-left: 0 }
    }
    .logo_rezart{
      display: inline-block;
      float: none;
      margin-top: 20px;
      margin-left: 0;
    }
  }
  div[id*='modal_politics']{
    h2{padding-top: 70px;}
    .btn_close_modal{
      top: 20px;
    }
  }
}


@media (max-width: 420px) {
  .title{
    font-size: 22px;
    line-height: 28px;
  }
  #sec_01{
    h1{
      font-size: 38px;
      line-height: 46px;
    }
  }
}