@import "bourbon";
@import "vars.scss";

body {
	position: relative;
	font: 18px/30px $main_font;
	color: $main_text_color;
	background-color: #fff;
}

body.unscroll{
    overflow: hidden;
}

.text--title{
    font-family: $main_bold_font;
    letter-spacing: .02em;
}

.text{
    letter-spacing: .02em;
}

.text--red{
    color: $main_color;
}

.title{
    font-size: 28px;
    line-height: 34px;
}

.md-modal.md-show{
    opacity: 1;
  }
.md-modal{
    opacity: 0;
  }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
    width: 10px;
}
 /* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,  0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: $main_color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $main_color;
}

/* BUTTON scrollUP SYLES*/

#scrollup {
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 30px;
    transform: rotate(180deg);
    display: none;
    opacity: 1;
    cursor: pointer;
    z-index: 10;
    font-size: 40px;
    text-shadow: -2px 2px 5px rgba(0,0,0, 0.3);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    svg{
      fill: #848484;
      transition: all 0.5s;
    }
}

#scrollup:hover{
  svg{fill: $main_color;}
}

.hidden{
    height: 0;
    width: 0;
}
.bar-long {
	height: 5px;
	width: 0;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	background: $main_color;
}

.btn{
    width: 100%;
    max-width: 359px;
    height: 56px;
	background-color: $main_color;

	color: #fff;
	font: 17px/30px $main_bold_font;
	text-transform: uppercase;

    border-radius: 28px;
    background-color: #af1e2d;
}

.btn:hover{
	background-color: #cc3141;
}

.btn:active{
	background-color: #860d19;
}

.text_sm{
    text-decoration: underline;
    font-size: 14px;
    margin-top: 30px;
    display: block;
}

#sec_01{
    padding: 30px 0 245px;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/sec_01-bg.png);

    color: #fff;
    h1{
        font-size: 72px;
        line-height: 66px;
        text-transform: uppercase;
        margin-bottom: 25px;
        margin-top: 180px;
    }
    .afterheader{
        margin-top: 50px
    }
    .mobile{
        display: none;
    }
    .text_sm{
        color: #fff;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    body{
      font-size: 16px;
      line-height: 26px;
    }
    .title{
        font-size: 26px;
        line-height: 30px;
    }
    .text{br{display: none;}}
    #sec_01{
        padding-bottom: 200px;
        position: relative;
        background-color: $main_color;
        background-repeat: no-repeat;
        background-position: top 60px right;
        background-image: url(../img/bl1-img2-png.png);
        h1, p{text-shadow: 0 0 10px rgba(0,0,0, .3);}
        .wrap{
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: .6;
            background-color: $main_color;
            top: 0;
            left: 0;
            z-index: 4
        }
        .container{
            position: relative;
            z-index: 5;
        }
        .mobile{
            display: block;
        }
        .sec_img-1{
            position: absolute;
            bottom: -80px;
            left: 50%;
            margin-left: -100px;
            z-index: 3
        }
        .sec_img-2{
            position: absolute;
            top: 80px;
            left: 0px;
            z-index: 2
        }
    }
}

@media (max-width: 767px) {
    body{
      font-size: 16px;
      line-height: 26px;
      text-align: center;
    }
    .title{
        font-size: 24px;
        line-height: 28px;
        br{
            display: none;
        }
    }
    .text{br{display: none;}}
    #sec_01{
        padding-bottom: 80px;
        position: relative;
        background-color: $main_color;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/bl1-img2-png.png);
        .wrap{
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: .6;
            background-color: $main_color;
            top: 0;
            left: 0;
            z-index: 4
        }
        .container{
            position: relative;
            z-index: 5;
        }
        h1{
            margin-top: 60px;
            font-size: 54px;
            line-height: 60px;
            text-shadow: 0 0 10px rgba(0,0,0, .3);
            span{
                display: block;
            }
        }
        p{text-shadow: 0 0 10px rgba(0,0,0, .3);}
        .title{
            br{display: none;}
        }
    }
}