@import "bourbon";
@import "vars.scss";

//Custom Styles Here


#sec_02{
  padding: 65px 0;
  .title{
    margin: 11px 0;
  }
  .text{
    margin-top: 160px;
  }
  .sec_img{
    float: right;
  }
}

#sec_03{
  padding: 35px 0;
  .title{
    margin: 11px 0;
  }
  .text{
    margin-top: 165px;
  }
  .sec_img{
    float: right;
    margin-right: -30px;
  }
}

#sec_04{
  padding: 20px 0 140px;
  .title{
    margin-bottom: 25px;
  }
  .db-form{
    max-width: 360px;
    margin-top: -10px;
    .btn{margin-top: 45px;}
  }
  .text_sm{
    color: $main_text_color;
  }
}

footer{
  padding: 15px 0 15px;
  background-color: $main_color;
  .politics{
    margin-top: 17px;
    a{
      color: #fff;
      font-size: 16px;
      opacity: .5;
      transition: opacity .4s;
      letter-spacing: .02em;
    }
    a:hover{opacity: 1}
    a+a{margin-left: 10px;}
  }
  .logo_rezart{
    margin-top: 15px;
    margin-left: 25px;
    width: 80px;
    // margin-right: 20px;
    float: right;
  }
}

//ALWAYS END
@import "_sketches.scss";
@import "_media.scss";
@import "../libs/niftymodal/component.css";
// @import "../libs/slick/slick.min.css";
// @import "../fonts/font-awesome/font-awesome.min.css"